@import 'theme.css';

:root {
    --page-bg-color: #000;
    --page-text-color: #000;
    --page-fg-color: #fff;
    --accent-primary-color: rgb(48, 82, 245);
    --accent-primary-color-light: rgb(70, 172, 233);
    --accent-secondary-color: #7D33FF;
    --accent-tertiary-color: rgb(171, 67, 246);
}

.logo {
    max-width: 50px !important;
}

.rst-content code.literal, .rst-content tt.literal {
    color: var(--page-text-color) 
}

.rst-content code, .rst-content tt, code, kbd, pre, samp {
    font-family: 'Fira Code', monospace, serif;
    _font-family: 'Fira Code', courier new, monospace;
    font-size: 1em;
}

body, .btn, input {
    font-family: 'Avenir Next LT Pro Regular', Arial, sans-serif;
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-weight: 700;
    font-family: 'Avenir Next LT Pro Bold', Arial, sans-serif;
}

.wy-side-nav-search {
    background-color: var(--page-bg-color);
}

.wy-nav-side {
    background-color: var(--page-bg-color);
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    color: var(--page-fg-color) !important;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
    background: var(--accent-primary-color) ;
    color: #fff;
}

.wy-inline-validate.wy-inline-validate-info .wy-input-context {
    color: var(--accent-primary-color) ;
}

a {
    color: var(--accent-primary-color) ;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--accent-primary-color-light);
}
a:visited {
    color: var(--accent-secondary-color);
}

.wy-text-info {
    color: var(--accent-primary-color) !important;
}
a.wy-text-info:hover {
    color: var(--accent-primary-color-light) !important;
}

.wy-menu-vertical a:active {
    background-color: var(--accent-primary-color) ;
    cursor: pointer;
    color: #fff;
}
.wy-menu-vertical a:active button.toctree-expand {
    color: #fff;
}

.wy-nav .wy-menu-vertical header {
    color: var(--accent-primary-color) ;
}
.wy-nav .wy-menu-vertical a {
    color: #b3b3b3;
}
.wy-nav .wy-menu-vertical a:hover {
    background-color: var(--accent-primary-color) ;
    color: #fff;
}

.wy-nav-top {
    display: none;
    background: var(--accent-primary-color) ;
    color: #fff;
    padding: .4045em .809em;
    position: relative;
    line-height: 50px;
    text-align: center;
    font-size: 100%;
    *zoom: 1;
}

.rst-versions a {
    color: var(--accent-primary-color) ;
    text-decoration: none;
}

.rst-content a code, .rst-content a tt {
    color: var(--accent-primary-color) ;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
    display: inline-block;
    color: var(--accent-tertiary-color);
    font-size: 80%;
    padding-left: 24px;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #eee;
    color: var(--accent-primary-color) ;
    border-top: 3px solid #404040;
    padding: 6px;
    position: relative;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt:before, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt:before {
    color: var(--accent-primary-color-light);
}

.rst-content .wy-alert-neutral.admonition-todo a, .rst-content .wy-alert-neutral.admonition a, .rst-content .wy-alert-neutral.attention a, .rst-content .wy-alert-neutral.caution a, .rst-content .wy-alert-neutral.danger a, .rst-content .wy-alert-neutral.error a, .rst-content .wy-alert-neutral.hint a, .rst-content .wy-alert-neutral.important a, .rst-content .wy-alert-neutral.note a, .rst-content .wy-alert-neutral.seealso a, .rst-content .wy-alert-neutral.tip a, .rst-content .wy-alert-neutral.warning a, .wy-alert.wy-alert-neutral a {
    color: var(--accent-primary-color) ;
}

.wy-tray-container li.wy-tray-item-info {
    background: var(--accent-primary-color) ;
}


.btn-info {
    background-color: var(--accent-primary-color) !important;
}
.btn-info:hover {
    background-color: #2e8ece!important;
}


.btn-link {
    background-color: transparent!important;
    color: var(--accent-primary-color) ;
    box-shadow: none;
    border-color: transparent!important;
}
.btn-link:active, .btn-link:hover {
    background-color: transparent!important;
    color: var(--accent-primary-color-light)!important;
    box-shadow: none;
}
.btn-link:visited {
    color: var(--accent-secondary-color);
}

.wy-dropdown-menu>dd>a:hover {
    background: var(--accent-primary-color) ;
    color: #fff;
}

.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background: var(--accent-primary-color);
}

html.writer-html4 .rst-content dl:not(.docutils) .descclassname, html.writer-html4 .rst-content dl:not(.docutils) .descname, html.writer-html4 .rst-content dl:not(.docutils) .sig-name, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descclassname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .sig-name {
    font-family: 'Fira Code',Courier New,Courier,monospace;
    color: var(--page-text-color);
}
