:root {
  --md-primary-fg-color: #3b48fe;
  --md-text-font-family: 'Avenir Next LT Pro Regular';
  --md-code-font-family: 'Fira Code';
}

.md-header {
  background-color: #000000;
}

.md-tabs {
  background-color: #000000;
}